@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

:root {
  --main-color-def: #000000;
  --main-color: #9F7C6C;
  --main-color-lite: #b49780;
  --pechenka-color: #A87F6D;
}

[class*=__container] {
  max-width: 1816px;
  padding: 0 25px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

main {
  flex: 1 1 100%;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

html .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

html .loader_inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ffffff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

.hidden {
  display: none;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  color: var(--main-color-def);
  background-color: rgb(198, 198, 198);
}

.header {
  position: fixed;
  z-index: 1113;
  width: 100vw;
  padding: 25px;
  background-color: #fff;
  font-weight: 300;
  border-bottom: 1px solid #ececec;
  /***При наведении на адрес*/
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__info {
  display: flex;
}
.header .info__adress {
  display: flex;
  margin-right: 30px;
  align-items: center;
  cursor: pointer;
}
.header .info__adress .info-icon-adress {
  height: 25px;
}
.header .info__adress p {
  margin: 0 8px;
}
.header .info__adress .info-icon-up {
  transition: 0.2s;
}
.header .info__adress:hover {
  transition: 0.2s;
  color: var(--main-color);
}
.header .info__adress:hover .info-icon-up {
  transform: rotate(180deg);
}
.header__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.header .contact__phone {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header .contact__phone a {
  font-weight: normal;
}
.header .contact__phone img {
  width: 24px;
}
.header .contact__order-call {
  margin-top: 8px;
}
.header .contact__order-call a {
  text-decoration: underline;
  transition: 0.2s;
}
.header .header__contact a {
  transition: 0.2s;
}
.header .contact__order-call, .header .header__contact a:hover {
  color: var(--main-color);
}
.header .contact__phone img {
  transition: 0.4s;
  position: relative;
  top: 1px;
}
.header .contact__phone img:hover {
  transform: scale(1.1);
}
.header .header__menu-adress {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 5px 20px;
  box-shadow: 12px 11px 8px 1px rgba(146, 146, 146, 0.21);
  z-index: 1;
  width: 45vw;
  top: 23px;
}
.header .menu-adress-item-item {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #d6d6d6;
}
.header .menu-adress-item-item:last-child {
  border-bottom: none;
}
.header .block-metros {
  width: 8vw;
  margin-right: 1vw;
}
.header .block-metros img {
  width: 1.8vw;
  margin-right: 5px;
}
.header .menu-adress-item-item a {
  transition: 0.3s;
}
.header .ssub0adres-link:hover {
  color: var(--main-color);
  padding-left: 10px;
}
.header .menu-adress-item-item:hover .ssub0adres-link {
  color: var(--main-color);
  padding-left: 10px;
}
.header .info__adress {
  position: relative;
}
.header .info__adress:hover .header__menu-adress {
  display: block;
}
.header .info__working-hours {
  display: flex;
  align-items: center;
}

.header__burger {
  display: none;
}

.burger {
  font-family: "Nunito", sans-serif;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 10;
  top: -200%;
  padding: 0 50px;
  transition: 0.2s;
}
.burger svg {
  margin-right: -20px;
}

.block-metros-burger-point {
  display: none;
}

.open-burger {
  top: 78px;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: var(--main-color-lite);
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}

.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}

.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.active .top {
  stroke-dashoffset: -64px;
}

.ham8.active .middle {
  transform: rotate(90deg);
}

.ham8.active .bottom {
  stroke-dashoffset: -64px;
}

.header__burger {
  display: none;
}

.accordion {
  width: 100%;
  margin: 0 auto;
}
.accordion .accordion-item {
  border-bottom: 2px solid #E4C4AB;
}
.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 2px solid #E4C4AB;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #000;
  font-size: 3vw;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #000;
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #000;
  border: 1px solid #E4C4AB;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 4vw;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded=true] {
  color: #E4C4AB;
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 19em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}
.accordion .menu-adress-item-item-burger {
  display: flex;
  padding: 15px;
  align-items: center;
  border-bottom: 1px solid #cbcbcb;
}
.accordion .menu-adress-item-item-burger .ssub0adres-link {
  font-size: 2.5vw;
}
.accordion .block-metros-burger {
  width: 14vw;
  margin-right: 15px;
}
.accordion .block-metros-burger img {
  width: 3vw;
  margin-right: 5px;
}

.contact-burger {
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 40px;
  border-bottom: 2px solid #E4C4AB;
}

.contact__order-call-burger {
  margin-top: 2vw;
}
.contact__order-call-burger a {
  text-decoration: underline;
}

.contact__phone-burger img {
  position: relative;
  top: 4px;
}

.burger__timeWork {
  width: 90vw;
  margin: 0 auto;
  margin-top: 3vw;
}

@media only screen and (max-width: 1555px) {
  .header__logo {
    width: 262px;
  }
  .header__logo img {
    width: 100%;
  }
  .header .info__adress p {
    font-size: 20px;
  }
  .info__working-hours {
    font-size: 20px;
  }
  .header .info__adress .info-icon-adress {
    height: 20px;
  }
  .header .header__contact a {
    font-size: 20px;
  }
  .header .contact__order-call {
    margin-top: 2px;
  }
}
@media only screen and (max-width: 1263px) {
  .header__logo {
    width: 222px;
  }
  .header__logo img {
    width: 100%;
  }
  .header .info__adress p {
    font-size: 18px;
  }
  .info__working-hours {
    font-size: 18px;
  }
  .header .info__adress .info-icon-adress {
    height: 18px;
  }
  .header .header__contact a {
    font-size: 18px;
  }
  .header .contact__order-call {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 1170px) {
  .header__burger {
    display: block;
  }
  .header .info__adress {
    display: none;
  }
  .header {
    padding: 0;
  }
  .accordion-title {
    font-weight: 300;
  }
  .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 3vw;
    right: 0;
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 22px;
  }
  .accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 18px;
    left: 12px;
    width: 14px;
    height: 2px;
    background: currentColor;
  }
  .accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 11px;
    left: 18px;
    width: 2px;
    height: 15px;
    background: currentColor;
  }
}
@media only screen and (max-width: 1000px) {
  .header__info {
    display: none;
  }
  .header__contact {
    display: none;
  }
  .header__logo {
    width: 260px;
  }
  .header {
    padding: 10px 25px;
  }
  .burger-phone {
    margin-top: 27px;
  }
}
@media only screen and (max-width: 850px) {
  .accordion button .accordion-title {
    font-size: 25px;
  }
  .accordion-title img {
    position: relative;
    top: 4px;
  }
  .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 3vw;
    right: 0;
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 22px;
  }
  .accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 8px;
    left: 13px;
    width: 2px;
    height: 13px;
    background: currentColor;
  }
  .accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 14px;
    left: 8px;
    width: 12px;
    height: 2px;
    background: currentColor;
  }
  .header__container {
    padding: 0;
  }
  .burger {
    padding: 0 24px;
  }
  .header__burger {
    position: relative;
    left: 24px;
  }
}
@media only screen and (max-width: 718px) {
  .accordion .menu-adress-item-item-burger .ssub0adres-link {
    font-size: 18px;
  }
  .accordion .block-metros-burger img {
    width: 21px;
  }
  .accordion .block-metros-burger {
    width: 80px;
  }
  .accordion .menu-adress-item-item-burger {
    padding: 15px 0;
  }
}
@media only screen and (max-width: 503px) {
  .accordion .menu-adress-item-item-burger .ssub0adres-link {
    font-size: 14px;
  }
  .accordion .block-metros-burger img {
    width: 19px;
  }
  .accordion .block-metros-burger {
    width: 80px;
    margin-right: 0px;
  }
  .accordion .menu-adress-item-item-burger {
    padding: 15px 0;
  }
}
@media only screen and (max-width: 470px) {
  .accordion-title img {
    width: 20px;
  }
  .accordion button .accordion-title {
    font-size: 20px;
  }
  .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 4vw;
    right: 0;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 22px;
  }
  .accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 4px;
    left: 8px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }
  .accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 8px;
    left: 4px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }
  .contact__phone-burger img {
    width: 20px;
  }
  .contact__phone-burger a {
    font-size: 22px;
  }
  .burger__timeWork p {
    font-size: 20px;
  }
  .contact__order-call-burger a {
    font-size: 20px;
  }
}
@media only screen and (max-width: 350px) {
  .burger-phone {
    margin-top: 17px;
  }
  .header {
    padding: 5px 20px;
  }
  .burger__timeWork p {
    font-size: 19px;
  }
  .accordion button .icon {
    top: 5vw;
  }
}/*# sourceMappingURL=main.css.map */