/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*============Connecting=Fonts=============*/
@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat"),
    url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat"),
    url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/*=========================================*/
:root {
  --orange-color: #FF9900;
  --orange-color-dark: #E1670E;
  --orange-color-light: #FFB84D;
  --black-color: #000;
  --gray-color-dark: #414141;
  --gray-color: #666;
  --gray-color-light: #808080;
  --gray-color-lighter: #CACACA;
  --white-color: #FFF;
  --green-color: #97EE3F;
}

/*=============Global=Styles===============*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}


body {

  font-family: 'Montserrat', sans-serif;
  background-color: var(--white-color);
  font-weight: 400;
  color: var(--black-color);
}

main{
  width: 100%;
}
.border-none {
  border: none;
}


.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

[class*='__container'] {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-offset {
  padding-bottom: 50px;
}

.section-title {
  margin: 0;
  margin-bottom: 32px;
  color: var(--black-color);
  font-size: 48px;
  font-weight: 400;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.btn {
  display: inline-block;
  padding: 25px 40px;
  background: var(--orange-color);
  color: var(--white-color);
  font-size: 23px;
  font-weight: 700;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color .3s ease, border .3s ease, color .3s ease;
  -o-transition: background-color .3s ease, border .3s ease, color .3s ease;
  transition: background-color .3s ease, border .3s ease, color .3s ease;
}

.btn:focus {
  background: var(--orange-color-light);
  outline: none;
}

.btn:hover {
  background: var(--orange-color-light);
}

.btn:active {
  background: var(--orange-color-dark);
}

.btn-dark{
  border: 1px solid var(--black-color);
  background: none;
  color: var(--black-color);
  font-weight: normal;
}

.btn-dark:focus{
  background: var(--gray-color);
  color: var(--white-color);
  border-color: var(--gray-color);
}

.btn-dark:hover{
  background: var(--gray-color);
  color: var(--white-color);
  border-color: var(--gray-color);
}

.btn-dark:active{
  border-color: var(--black-color);
  background: var(--black-color);
  color: var(--white-color);
}

/*=============Header==============*/

.header {

  border-radius: 0px 0px 32px 32px;
  background: #FFF;
  -webkit-box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);
          box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);
  font-weight: 600;
  margin-bottom: 50px;
}

.header__container {

  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}



.header__logo:focus, .footer__logo:focus{
  outline-offset: 10px;
  outline: 2px solid var(--orange-color);
}

.header__box{
  padding: 14px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav{
  position: relative;
  height: 0;
}

.nav {
  margin-right: 85px;
  position: absolute;
  right: 0;
  top: -60px;
}

.nav__list {
  gap: 74px;
}

.nav__item {
  position: relative;
}

.nav__link {
  font-size: 19px;
}

.nav__link::after {
  content: '';
  position: absolute;
  background: var(--orange-color);
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: color .3s linear, background-color .3s linear, -webkit-transform .3s linear;
  transition: color .3s linear, background-color .3s linear, -webkit-transform .3s linear;
  -o-transition: transform .3s linear, color .3s linear, background-color .3s linear;
  transition: transform .3s linear, color .3s linear, background-color .3s linear;
  transition: transform .3s linear, color .3s linear, background-color .3s linear, -webkit-transform .3s linear;
}

.nav__link:focus {
  outline: 2px solid var(--orange-color);
  outline-offset: 5px;
}

.nav__link:hover::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.nav__link:active {
  color: var(--orange-color-dark);
}

.nav__link:active {
  outline: none;
}

.nav__link:active::after {
  background: var(--orange-color-dark);
}



.header__searchBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 24px;
}

.header__serchSvg {
  cursor: pointer;
  stroke: var(--black-color);
  -webkit-transition: stroke .2s linear;
  -o-transition: stroke .2s linear;
  transition: stroke .2s linear;
}

.header__searchBtn:focus {
  outline: 2px solid var(--orange-color);
  outline-offset: 3px;
}

.header__searchBtn:hover .header__serchSvg {
  stroke: var(--orange-color);
}

.header__searchBtn:active {
  outline: none;
}

.header__searchBtn:active .header__serchSvg {
  outline: none;
  stroke: var(--black-color);
}

/*=============Hero==============*/

.about{
  padding-bottom: 100px;
}

.hero__container {
  padding: 101px 88px;
  background: url('../img/hero.jpg') no-repeat center center;
  background-size: cover;
  color: var(--white-color);
  border-radius: 32px;
}

.hero__title {
  margin: 0;
  max-width: 837px;
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 27px;
  line-height: 1.2;
}

.hero__desrp {
  max-width: 802px;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 90px;
  letter-spacing: -0.2px;
}

/*=========about==================*/

.about__title {
  margin-bottom: 25px;
}

.about__desrp {
  margin: 0;
  max-width: 1235px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 50px;
}

.about__body{
  gap: 30px;

}

.about__left{

  width: calc((100%/2) - (32px/2));
  position: relative;
}

.about__subbody{
  display: block;
  background: url('../img/about.jpg') no-repeat center center;
  background-size: cover;
  min-height: 100%;
  border-radius: 16px;
  position: relative;
}



.about__right{
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  gap: 30px;
}

.about__desript{
  background: rgba(0, 0, 0, 0.5);
  padding: 50px;
  border-radius: 32px;
  position: absolute;
  bottom: 0;
  color: var(--white-color);
  font-weight: 700;
  line-height: 32px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.about__subtext{
  margin: 0;
  margin-right: 20px;


}



.about__link{
  display: inline;
  padding: 11px 32px;
  border-radius: 16px;
  border: 3px solid var(--orange-color);
  background: none;
  color: var(--white-color);
  font-weight: 700;
  -webkit-box-flex: 0 ;
      -ms-flex: 0 ;
          flex: 0 ;
  -webkit-transition: background-color .3s ease, border .3s ease;
  -o-transition: background-color .3s ease, border .3s ease;
  transition: background-color .3s ease, border .3s ease;
}

.about__link:focus{
  outline: none;
  background-color: var(--orange-color);
}

.about__link:hover{
  background-color: var(--orange-color);
}

.about__link:active{
  background-color: var(--orange-color-dark);
  border: 3px solid var(--orange-color-dark);
}



.about__card{
  padding: 65px 90px 65px 307px;
  border: 1px solid var(--gray-color-lighter);
  border-radius: 32px;
  background: url('../img/about1.svg') no-repeat left center;
  background-position: 66px 63px;
}


.about__card-2{
  background: url('../img/about2.svg') no-repeat left center;
  background-position: 66px 63px;
}


.about__cardTitle{
  margin: 0;
  margin-bottom: 8px;
  font-size: 22px;
}

.about__cardDescr{
  margin: 0;

  line-height: 32px;
}


/*=============Stages==============*/

.stages{
  padding-bottom: 100px;
}

.stages__body{
  min-height: 460px;
  gap: 142px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stages__left{
  width: calc(100%/2 - 32px/2);
}

.stages__body::after{
  content: '';
  display: block;
  width: calc(100%/2 - 32px/2);
  background: url('../img/stages.jpg')no-repeat right center;
  border-radius: 32px;
  background-size: cover;

  min-height: 200px;
}

.stages__title{
  margin: 0;
  margin-bottom: 37px;
  color: var(--black-color);
  font-size: 48px;
  font-weight: 400;

}

.stages__subTitle{
  letter-spacing: -1px;
  margin: 0;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.stages__descrp{
  margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    max-width: 686px;
    letter-spacing: 0px;
}
.stages__descrp-last{
  margin-bottom: 18px;
}
.stages__buttons{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.stages__btn{
  padding: 22px 40px;
  font-size: 14px;
}

.stages__btn-dark{
  padding: 22px 40px;
  font-size: 14px;
}


/*===========Questions================*/



.questions{
  padding-bottom: 100px;
}

.questions__list{
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
}

.questions__card{
  padding: 65px 65px 65px 60px;
  border-radius: 32px;
  border: 1px solid var(--gray-color-lighter);
  background: var(--white-color);
  width: calc((100% - (32px * 2)) / 3);
}

.questions__cardTitle{
  margin: 0;
  margin-bottom: 8px;
  font-size: 24px;
}

.questions__cardDescrp{
  margin: 0;
  line-height: 32px;
}



/*===========footer================*/

.footer{
  padding: 50px 0;
  background-color: var(--black-color);
  color: var(--gray-color-lighter);
}

.footer__logo{
  display: inline-block;
  margin-bottom: 20px;
}

.footer__link{
  color: var(--gray-color-lighter);
font-size: 18px;
font-weight: 600;
line-height: 36px;
-webkit-transition: color .3s ease;
-o-transition: color .3s ease;
transition: color .3s ease;
}

.footer__link:focus{
  outline-offset: 5px;
  outline: 1px solid var(--orange-color);
  color: var(--orange-color);
}

.footer__link:hover{
  color: var(--orange-color);
}

.footer__link:active{
  color: var(--orange-color-dark);
  outline: 1px solid var(--orange-color-dark);
}

.footer__list{
  margin-bottom: 90px;
}

.footer__social{
  gap: 25px;
}

.footer__socialLink svg {
  height: 60px;
  width: 60px;
}

.footer__socialLink{
  display: inline-block;
}

.footer__socialLink svg{
  fill: var(--gray-color);
  -webkit-transition: fill .3s ease, outline .3s ease;
  -o-transition: fill .3s ease, outline .3s ease;
  transition: fill .3s ease, outline .3s ease;
}

.footer__socialLink:focus{
  outline-offset: 5px;
 outline: 1px solid var(--orange-color);
}

.footer__socialLink svg:hover{
  fill: var(--orange-color);
}

.footer__socialLink svg:active{
  fill: var(--orange-color-dark);
  outline: none;
}

.footer__body{
  gap: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__nav{
  max-width: calc((100% - (32px * 2)) / 3);
}

.footer__info{
  max-width: calc((100% - (32px * 2)) / 3);
}

.footer__form{
   max-width: calc((100% - (32px * 2)) / 3);

}

.form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.form__title{
  margin: 0;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 25px;
}

.footer__input{
  background-color: var(--gray-color-dark);
  padding: 21px 24px;
  border-radius: 12px;
  border: none;
  display: block;
  width: 100%;
  margin-bottom: 25px;
  outline: none;
  -webkit-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease;
  color: var(--white-color);
}

.footer__input:hover{
  background-color: var(--gray-color);
}

.footer__input:focus{
  background-color: var(--gray-color);
}

.footer__input-area{
  min-height: 150px;
  resize: none;

}

.footer__btn{
  padding: 19px 47px;
  font-size: 14px;
}

.footer__text{

  font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 32px;
padding-left: 206px;
padding-top: 63px;

}

.footer__checkbox-custom{
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.footer__checkbox{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.form__btnsWrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox__text{
  position: relative;
  padding-left: 20px;
}

.checkbox__text::before{
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border: 1px solid var(--white-color);
}

.checkbox__text::after{
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background: url('../img/Check.svg') no-repeat center center;
  background-size: 100%;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.footer__checkbox:checked + .checkbox__text::after{
  opacity: 1;
}

.footer__checkbox:focus + .checkbox__text{
  outline: 1px solid var(--orange-color);
  outline-offset: 5px;
}
