@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

body {
    line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

nav ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}

li {
    list-style: none
}


/* =============================================================================
   My CSS
   ========================================================================== */


/* ---- base ---- */

html,
body {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
}

body {
    color: #fff;
    font-family: 'Poppins', sans-serif;
}


/* ---- stats.js ---- */

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

.header__image {
    max-width: 60px;
    max-height: 60px;
}

.Logo {
    font-size: 40px;
    font-weight: bold;
    margin-left: 15px;
}

.header {
    padding: 10px;
    background-color: #000;
}

.logo-git img {
    max-width: 60px;
    min-height: 60px;
    animation: lefttextan 1s linear;
}

.header__contanier {
    display: flex;
    align-items: center;
}

.Logo a {
    color: #fff;
    animation: lefttextan 1s linear;
}

.header__list {
    display: flex;
    animation: righttextan 1s linear;
}

.lang {
    display: flex;
}

.logo-git {
    display: flex;
    align-items: center;
}

.header__menu {
    flex: 1 1 auto;
    margin-right: 100px;
}

.teame {
    display: flex;
}

.teame-lang {
    display: flex;
    flex: 0 1 15%;
}

.logo-git {
    flex: 0 1 20%;
}

.header__list {
    justify-content: flex-end;
}

.header__menu__item {
    color: #fff;
    margin-right: 55px;
    font-size: 20px;
    font-weight: bold;
}

.header__menu__item a {
    color: #fff;
    transition: 0.8s;
}

.header__menu__item:last-child {
    margin-right: 0;
}

.header__menu__item a:hover {
    padding: 28px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
}


/* ---- particles.js container ---- */

#particles-js {
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 28px;
}


/* Hide default HTML checkbox */

.switch input {
    display: none;
}
.lf{
    width: 500px;
    height: 400px;
}

.hi{
    color: #e29508;
}

.big{
    font-size: 80px;
}



.title {
    
    font-size: 60px;
    position: absolute;
    left: 100px;
    top: 200px;
    color: #eaeaf9;
    overflow: hidden;
    border-right: .17em solid #e29508;  
    white-space: nowrap;  
    margin: 0 auto;  
    letter-spacing: .17em;
    animation:  
    typing 3.5s steps(30, end),
    blink-caret .7s step-end infinite;
    
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 60% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #f34c4c;
}

input:focus+.slider {
    box-shadow: 0 0 1px #f34c4c;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.about-me img {
    width: 600px;
    height: 800px;
    position: absolute;
    top: 100px;
    right: 100px;
    border-radius: 20px;
    animation: an 2s linear;
}

.button_works{
    position: absolute;
    top: 400px;
    left: 100px;
    border-radius: 10px;
    background: #eaeaf9;
    color: #000;
    padding: 30px 40px;
    font-weight: bold;
    transition: 0.3s;
    font-size: 30px;
    
}

.button_works:hover{
    background: #e29508;
    color: #fff;
}

.github{
    width: 50px;
    height: 50px;
    z-index: 5000;
}

.about{
    margin-top: 350px;
    display: flex;
}

.about img{
    width: 600px;
    height: 800px;
    border-radius: 20px;
    padding-left: 20%;
    animation: an 10s linear;
}
.my-photo{
    flex: 1 1 auto;
}

.about-text{
    flex: 1 1 700px;
    animation: lefttextan 5s linear;
}

.about-text h1{
    font-size: 30px;
    font-weight: normal;
    margin-right: 50px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.about-text p {
    margin-top: 20px;
}

.button_works2{
    position: relative;
    top: 120px;
    margin-top: 50px;
    border-radius: 10px;
    background: #eaeaf9;
    color: #000;
    padding: 30px 40px;
    font-weight: bold;
    transition: 0.3s;
    font-size: 30px;
}

.button_works2:hover{
    background: #e29508;
    color: #fff;
}

.footer{
    display: flex;
    margin-top: 200px;
    height: 200px;
    background: rgb(24,24,24);
background: -moz-linear-gradient(0deg, rgba(24,24,24,1) 0%, rgba(19,19,19,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(24,24,24,1) 0%, rgba(19,19,19,1) 100%);
background: linear-gradient(0deg, rgba(24,24,24,1) 0%, rgba(19,19,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#181818",endColorstr="#131313",GradientType=1);
}

.footer-text a{
    color: #fff;
    font-size: 20px;
    font-weight: normal;
   
}

.footer-text{
    flex: 1 1 50%;
    text-align: center;
    padding-top: 50px;
}
.links{
    flex: 1 1 50%;
}

.links img{
    width: 50px;
    margin-right: 50px;
    padding-top: 60px;
    
}

.telme{
    background-color: #e29508;
    border-radius: 10px;
    padding: 15px 30px;
    position: relative;
    top: 30px;
    transition: 0.3s;
}

.telme:hover{
background: #eaeaf9;
color: #000;
}

@keyframes an{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}

@keyframes righttextan {
    0%{
        position: relative;
        top: 0;
        left: 50px;
        opacity: 0;
    }
    100%{
        position: relative;
        top: 0;
        left: 0px;
        opacity: 1;
    }
}

@keyframes lefttextan {
    0%{
        position: relative;
        top: 0;
        right: 50px;
        opacity: 0;
    }
    100%{
        position: relative;
        top: 0;
        right: 0px;
        opacity: 1;
    }
}