@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100vh;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  height: 100vh;
  background: #FAFBFF;
}

.wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

[class*="__container"] {
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 15px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  background: url(../img/bg3.png);
  height: 750px;
}

.header__body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}

a {
  text-decoration: none;
  color: black;
}

.header__logo {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  color: #000000;
  text-transform: uppercase;
}

.header__logo a {
  -webkit-transition: .4s;
  transition: .4s;
}

.header__burger {
  font-size: 40px;
  display: none;
}

.header__logo a:hover {
  color: #4F46BA;
  font-size: 30px;
}

.header__link {
  -webkit-transition: .4s;
  transition: .4s;
  font-size: 16px;
  line-height: 19px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link:hover {
  color: #4F46BA;
  font-size: 18px;
}

.header__item i {
  position: relative;
  top: 2px;
  padding-left: 4px;
  font-size: 18px;
  font-weight: bold;
}

.header__item {
  margin-right: 40px;
}

.header__sign-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__sign a {
  padding: 15px 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

.header__sign a:hover {
  padding: 15px 30px;
  background-color: #fff;
  font-weight: bold;
  border-radius: 15px 0 0 15px;
}

.header__free a {
  padding: 15px 25px;
  background: #4F46BA;
  -webkit-transition: .3s;
  transition: .3s;
}

.header__free a:hover {
  padding: 15px 30px;
  background: #524ab5;
  font-weight: bold;
}

.header__free a {
  color: #fff;
}

.header__sublist {
  position: absolute;
  min-width: 150px;
  display: none;
}

.header__sublist li {
  border-bottom: 1px solid #4F46BA;
  padding: 10px 20px;
  background-color: #fbfaff;
  margin-right: 0;
}

.header__sublist a {
  -webkit-transition: .3s;
  transition: .3s;
}

.header__sublist a:hover {
  font-size: 14px;
  padding-left: 15px;
  font-weight: bold;
  color: #4F46BA;
}

.header__sublist li {
  -webkit-transition: .3s;
  transition: .3s;
}

.header__sublist li:hover {
  background-color: #f9f8ff;
}

.header__sublist li:first-child {
  border-top: 1px solid #4F46BA;
}

.header__sublist a {
  font-size: 14px;
}

.header__list li:hover > ul {
  display: block;
}

.burger {
  z-index: 2000;
  -webkit-transition: .5s;
  transition: .5s;
  position: absolute;
  background: #4F46BA;
  color: #fff;
  height: 100vh;
  left: -100%;
  width: 100%;
}

.burger a {
  color: #fff;
  font-size: 30px;
}

.burger__list {
  text-align: center;
  width: 400px;
  margin: 150px auto;
}

.burger__item {
  padding-bottom: 30px;
  margin-bottom: 40px;
  border-bottom: 2px solid white;
}

.open {
  -webkit-transition: .5s;
  transition: .5s;
  left: 0;
}

.bx-caret-left-circle {
  font-size: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.business_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.business_text h1 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 80px;
  /* or 133% */
  letter-spacing: -0.03em;
  color: #000000;
}

.business_text p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  letter-spacing: -0.02em;
  color: #757095;
}

.business_text a {
  margin-right: 50px;
  margin-top: 100px;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  /* identical to box height, or 176% */
  letter-spacing: -0.02em;
  color: #3734A9;
  -webkit-transition: .3s;
  transition: .3s;
}

.business_text a:hover {
  background: #3734A9;
  border-radius: 7px;
  padding: 15px 40px;
  color: #fff;
}

.business_text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.business__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.btnsDown {
  margin-top: 50px;
}

.btnsDown_a {
  margin-bottom: 40px;
}

.spanGood {
  margin-top: 40px;
}

.spanGood span {
  margin-right: 20px;
}

.spanGood span img {
  position: relative;
  margin-right: 10px;
  top: 3px;
}

@-webkit-keyframes boolk {
  0% {
    top: 410px;
    left: 950px;
  }
  25% {
    top: 430px;
    left: 940px;
  }
  50% {
    top: 440px;
    left: 910px;
  }
  75% {
    top: 450px;
    left: 930px;
  }
  100% {
    top: 410px;
    left: 950px;
  }
}

@keyframes boolk {
  0% {
    top: 410px;
    left: 950px;
  }
  25% {
    top: 430px;
    left: 940px;
  }
  50% {
    top: 440px;
    left: 910px;
  }
  75% {
    top: 450px;
    left: 930px;
  }
  100% {
    top: 410px;
    left: 950px;
  }
}

.imgboolk {
  position: absolute;
  -webkit-animation: boolk 8s  infinite;
          animation: boolk 8s  infinite;
}

@-webkit-keyframes boolk2 {
  0% {
    top: 200px;
    left: 910px;
  }
  25% {
    top: 210px;
    left: 920px;
  }
  50% {
    top: 220px;
    left: 915px;
  }
  75% {
    top: 190px;
    left: 900px;
  }
  100% {
    top: 200px;
    left: 910px;
  }
}

@keyframes boolk2 {
  0% {
    top: 200px;
    left: 910px;
  }
  25% {
    top: 210px;
    left: 920px;
  }
  50% {
    top: 220px;
    left: 915px;
  }
  75% {
    top: 190px;
    left: 900px;
  }
  100% {
    top: 200px;
    left: 910px;
  }
}

.imgboolk2 {
  position: absolute;
  -webkit-animation: boolk2 5s  infinite;
          animation: boolk2 5s  infinite;
}

.Companies-text h2 {
  margin: 50px 0;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height */
  text-align: center;
  color: #000000;
}

:root {
  --marquee-width: 70vw;
  --marquee-height: 10vh;
  /* --marquee-elements: 12; */
  /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: #FAFBFF;
  color: #eee;
  overflow: hidden;
  position: relative;
}

.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}

.marquee:before {
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#FAFBFF), to(transparent));
  background: linear-gradient(to right, #FAFBFF 0%, transparent 100%);
}

.marquee:after {
  right: 0;
  background: -webkit-gradient(linear, right top, left top, from(#FAFBFF), to(transparent));
  background: linear-gradient(to left, #FAFBFF 0%, transparent 100%);
}

.marquee-content {
  list-style: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: scrolling var(--marquee-animation-duration) linear infinite;
          animation: scrolling var(--marquee-animation-duration) linear infinite;
}

/* .marquee-content:hover {
    animation-play-state: paused;
  } */
@-webkit-keyframes scrolling {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
            transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
  }
}
@keyframes scrolling {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
            transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
  }
}

.marquee-content li {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* text-align: center; */
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height)*3/4);
  /* 5rem; */
  white-space: nowrap;
}

.marquee-content li img {
  width: 100%;
  /* height: 100%; */
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before, .marquee:after {
    width: 100%;
  }
}

.marquee {
  width: 100%;
}

.why__text p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  /* Pallet 4 / Primary */
  color: #3734A9;
}

.why__title h3 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 69px;
  /* identical to box height, or 172% */
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  color: #000000;
}

.companies {
  margin-bottom: 100px;
}

.why__box-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.why__card {
  height: 410px;
  max-width: 367px;
}

.why__card h4 {
  padding-left: 15px;
  margin: 30px 0;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 30px;
  /* identical to box height, or 115% */
  letter-spacing: -0.03em;
  color: #000000;
}

.why__card p {
  padding-left: 15px;
  color: #64607D;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  letter-spacing: -0.02em;
}

.feature__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__text {
  margin-left: 100px;
}

.feature__title {
  margin-top: 100px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 25px;
  line-height: 25px;
  /* identical to box height */
  text-transform: uppercase;
  /* Pallet 4 / Primary */
  color: #3734A9;
}

.feature__subtitle {
  font-family: 'Manrope';
  font-style: normal;
  max-width: 550px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 50px;
  line-height: 56px;
  /* or 112% */
  letter-spacing: -0.03em;
  color: #000000;
}

.feature__sub-text {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  max-width: 550px;
  font-size: 18px;
  margin-bottom: 50px;
  line-height: 30px;
  /* or 167% */
  letter-spacing: -0.02em;
  color: #64607D;
}

.feature__btn {
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  padding: 15px 40px;
  background: #3734A9;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 7px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.feature__btn:hover {
  background: #5a57af;
}

.feature__image img {
  width: 100%;
}

.Newsletter__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Newsletter__text h1, .Newsletter__email h1, .manage__text h1 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 25px;
  line-height: 25px;
  /* identical to box height */
  text-transform: uppercase;
  /* Pallet 4 / Primary */
  color: #3734A9;
}

.Newsletter__text h2, .manage__text h2 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 56px;
  max-width: 580px;
  /* or 112% */
  margin-bottom: 25px;
  letter-spacing: -0.03em;
  color: #000000;
}

.Newsletter {
  margin-top: 200px;
  margin-bottom: 250px;
}

.Newsletter__text p, .manage__text p {
  color: #64607D;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  max-width: 510px;
  line-height: 30px;
  /* or 167% */
  letter-spacing: -0.02em;
}

.Newsletter__email {
  max-width: 356px;
  margin-left: 100px;
}

.Newsletter__email input {
  width: 90%;
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 30px;
  /* identical to box height, or 150% */
  letter-spacing: -0.02em;
  background-color: #fff;
  opacity: 1;
}

.Newsletter__email button {
  background: #FF7F5C;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  line-height: 30px;
  -webkit-transition: .3s;
  transition: .3s;
  font-family: 'Manrope', sans-serif;
  /* identical to box height, or 188% */
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  color: #FFFFFF;
  border: none;
  padding: 15px;
}

.Newsletter__email img {
  position: relative;
  bottom: 400px;
  left: 350px;
}

.Newsletter__email button:hover {
  background-color: #eb8f75;
}

.manage__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.manage__text p {
  margin-bottom: 50px;
}

.testimonial-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  /* Pallet 4 / Primary */
  color: #3734A9;
}

.testimonial-subtitle {
  font-weight: 700;
  font-size: 50px;
  line-height: 56px;
  max-width: 410px;
  margin: 0 auto;
  margin-top: 20px;
  /* or 112% */
  margin-bottom: 100px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #000000;
}

.swiper {
  cursor: -webkit-grab;
  cursor: grab;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.users-card {
  max-width: 400px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .why__box-body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .manage__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .manage__text {
    margin: 0 auto;
  }
  .manage__image {
    margin: 0 auto;
    margin-top: 100px;
  }
  .manage__image img {
    width: 100%;
  }
  .why__card {
    margin-top: 30px;
  }
}

.users-cards {
  display: none;
}

@media (max-width: 1100px) {
  .header__logo {
    font-size: 20px;
  }
  .Newsletter__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .Newsletter__text {
    margin: 0 auto;
    margin-bottom: 100px;
  }
  .Newsletter__email {
    margin: 0 auto;
  }
  .feature__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .feature__image {
    margin: 0 auto;
  }
  .feature__text {
    margin: 0 auto;
  }
  .header__link {
    font-size: 14px;
  }
  .header__sign a {
    padding: 10px 15px;
  }
  .header__free a {
    padding: 10px 15px;
  }
  .header__body {
    padding: 25px 0;
  }
}

@media (max-width: 900px) {
  .business__image {
    display: none;
  }
  .swiper {
    display: none;
  }
  .users-cards {
    display: block;
    max-width: 400px;
    margin: 0 auto;
  }
  .users-cards img {
    width: 100%;
    margin: 0 auto;
  }
  .business_text {
    max-width: 500px;
    margin: 0 auto;
  }
  .spanGood {
    margin-bottom: 50px;
  }
  .header__menu {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .business_text div h1 {
    font-size: 30px;
    line-height: 50px;
  }
  .business_text div p {
    font-size: 15px;
  }
  .business_text div a {
    font-size: 14px;
  }
  .business_text div a:hover {
    padding: 15px 20px;
  }
  .imgboolk {
    display: none;
  }
  .imgboolk2 {
    display: none;
  }
}

@media (max-width: 650px) {
  .business_body {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .business_body image img {
    width: 100%;
  }
}

@media (max-width: 427px) {
  .header__sign-in {
    display: none;
  }
}
