.burger{
    font-family: 'Nunito', sans-serif;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    z-index: 10;
    top: -200%;
    padding: 0 50px;
    transition: .2s;
    svg{
        margin-right: -20px;
    }
}

.block-metros-burger-point{
    display: none;
}

.open-burger{
    top: 80px;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:var(--main-color-lite);
    stroke-width:5.5;
    stroke-linecap:round;
  }
  .ham8 .top {
    stroke-dasharray: 40 160;
  }
  .ham8 .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
  }
  .ham8 .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
  }
  .ham8.active .top {
    stroke-dashoffset: -64px;
  }
  .ham8.active .middle {
    //stroke-dashoffset: -20px;
    transform: rotate(90deg);
  }
  .ham8.active .bottom {
    stroke-dashoffset: -64px;
  }


  .header__burger{
    display: none;
}


$bg: #E4C4AB;
$text: #E4C4AB;
$gray: #E4C4AB;
$lightgray: #E4C4AB;
$blue: #E4C4AB;

.accordion {

    width: 100%;
    
    margin: 0 auto;

    .accordion-item {
      border-bottom: 2px solid $lightgray;
      button[aria-expanded='true'] {
        border-bottom: 2px solid $blue;
      }
    }
    button {
      position: relative;
      display: block;
      text-align: left;
      width: 100%;
      padding: 1em 0;
      color: #000;
      font-size: 3vw;
      font-weight: 400;
      border: none;
      background: none;
      outline: none;
      &:hover, &:focus {
        cursor: pointer;
        color: #000;
        &::after {
          cursor: pointer;
          color: #000;
          border: 1px solid $blue;
        }
      }
      .accordion-title {
        padding: 1em 1.5em 1em 0;
      }
      .icon {
        display: inline-block;
        position: absolute;
        top: 4vw;
        right: 0;
        width: 22px;
        height: 22px;
        border: 1px solid;
        border-radius: 22px;
        &::before {
          display: block;
          position: absolute;
          content: '';
          top: 9px;
          left: 5px;
          width: 10px;
          height: 2px;
          background: currentColor;
        }
        &::after {
          display: block;
          position: absolute;
          content: '';
          top: 5px;
          left: 9px;
          width: 2px;
          height: 10px;
          background: currentColor;
        }
      }
    }
    button[aria-expanded='true'] {
      color: $blue;
      .icon {
        &::after {
          width: 0;
        }
      }
      + .accordion-content {
        opacity: 1;
        max-height: 19em;
        transition: all 200ms linear;
        will-change: opacity, max-height;
      }
    }
    .accordion-content {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: opacity 200ms linear, max-height 200ms linear;
      will-change: opacity, max-height;
      p {
        font-size: 1rem;
        font-weight: 300;
        margin: 2em 0;
      }
    }

    .menu-adress-item-item-burger{
        display: flex;
        padding: 15px;
        align-items: center;
        border-bottom: 1px solid #cbcbcb;

        .ssub0adres-link{
            font-size: 2.5vw;
        }
    }

    .block-metros-burger{
        width: 14vw;
        margin-right: 15px;
    }

    .block-metros-burger img{
        width: 3vw;
        margin-right: 5px;
    }

    
  }

  .contact-burger{
    width: 100%;
    margin: 0 auto;
    
    margin-top: 30px;
    padding-bottom: 40px;
    border-bottom: 2px solid #E4C4AB;
}

.contact__order-call-burger{
    margin-top: 2vw;

    a{
        text-decoration: underline;
    }
}

.contact__phone-burger img{
    position: relative;
    top: 4px;
}

.burger__timeWork{
    width: 90vw;
    margin: 0 auto;
    
    margin-top: 3vw;
}