.reward{
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100vw;
    

    img{
        width: 100%;
    }
}

.device{
    margin-top: 0;
    padding-top: 0;
    width: 100vw;
   

    img{
        width: 100%;
    }
}
.speed{
    margin-top: 0;
    padding-top: 0;
    width: 100vw;
   

    img{
        width: 100%;
    }
}
.state{
    margin-top: 0;
    padding-top: 0;
    width: 100vw;
   

    img{
        width: 100%;
    }
}
.inno{
    margin-top: 0;
    padding-top: 0;
    width: 100vw;
   

    img{
        width: 100%;
    }
}
.save{
    margin-top: 0;
    padding-top: 0;
    width: 100vw;
   

    img{
        width: 100%;
    }
}

.mission{
    margin-top: 0;
    padding-top: 0;
    width: 100vw;
   

    img{
        width: 100%;
    }
}