@import 'reset'; // Обнулиение стилей
@import 'settings'; // Подклчение основных настроек стилей
@import 'vidjets'; // Подключение файла стилей с виджетами

body{
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    color: var(--main-color-def);
    background-color: rgb(198, 198, 198)
}

@import 'components/header'; // Подключение стилей Header



